.Rproj.user
.Rhistory
.RData
.Ruserdata

# Images
*.jpg


# Other
*.html
*.pdf

# Shapefiles
*.shp
*.prj
*.dbf
*.cpg
*.shx

# Embargoed data
embargo/


# Compiled reports
cruises/reports/compiled/
cruises/plans/compiled/

/.quarto/
/_site/
